.container-forget-password {
  background-color: white;
  border-radius: 7px;
  display: block;
  overflow: hidden;
  box-shadow: 0px 12px 30px 6px rgba(66, 113, 164, 0.104891);
  width: 437px;
  margin: 0 auto;
  max-width: 100%;
  height: 408px;
  position: relative;
  top: -100px;
}
.header {
  text-align: center;
  padding: 20px;
  background-color: white;
}
.header h3 {
  margin: 0;
  font-size: 30px;
  color: #20b8eb;
}
.main-form {
  padding: 30px 40px;
}
.form {
  padding-bottom: 20px;
  margin-bottom: 10px;
  position: relative;
}

.form input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  width: 100%;
  padding: 12px;
  display: block;
  font-size: 14px;
  margin-top: 0.5rem;
}
.form input:focus {
  outline: none !important;
  border-color: #20b8eb;
  box-shadow: 0 0 10px #20b8eb;
}
.form small {
  position: absolute;
  bottom: 0;
  left: 5px;
  visibility: hidden;
}
.login-btn {
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  padding: 10px;
  border-radius: 17px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: white;
  background-color: #20b8eb;
  list-style: none;
  outline: none;
  border: none;
  transition: color 1000ms;
  transition: background-color 500ms ease-in-out;
}
.login-btn:hover {
  border: 1px solid red;
  color: red;
  background-color: transparent;
}
.label-text {
  color: #a5a5a5;
}
.forget-password-container {
  margin-top: 1.2rem;
  text-align: center;
}

.forget-password-container a {
  text-decoration: none;
  color: #4f88c7;
}

.not_account_yet_container-for-forget-password {
  color: #a5a5a5;
  text-align: center;
  margin-top: 5rem;
}
.not_account_yet_container span {
  color: #20b8eb;
  cursor: pointer;
}
